:root {
	--bg1: hsl(0, 0%, 0%);
	--bg2: hsl(0, 0%, 10%);
	--bg3: hsl(0, 0%, 20%);
	--text: hsl(0, 0%, 90%);
	--dim: hsl(0, 0%, 70%);
	--accent: hsl(225, 68%, 50%);
	--h: 123px; /* Height of the header (fixed by "./main.js") */
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

body * {
	font-family: Helvetica, sans-serif;
	color: var(--text);
}

h1, h2 {
	margin: 0;
}

p, span {
	color: var(--dim);
}

button {
	background: var(--accent);
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: var(--accent) 0 0 20px;
	letter-spacing: 0.5px;
	font-size: 1rem;
	align-self: flex-end;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px;
	border-bottom: 1px solid gray;
	background-color: hsla(0, 0%, 20%, 0.5);
	backdrop-filter: blur(10px);
}

#logo {
	font-size: 2em;
	font-weight: bold;
}

nav {
	display: flex;
	gap: 16px;
}

nav a {
	text-decoration: none;
	position: relative;
}

nav a::after {
	content: '';
	display: flex;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background: white;
	transition: 0.3s ease width;
}

nav a:hover::after {
	width: 100%;
}

#bg {
	position: fixed;
	inset: 0;
	z-index: -1000;
	background-image: linear-gradient(var(--bg1), var(--bg2));
}

section {
	width: 100%;
	height: calc(100vh - var(--h));
}

#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4vw;
}

#hero h1 {
	font-size: 2em;
	letter-spacing: 2px;
}

#hero > span {
	letter-spacing: 4px;
}

#hero #hint {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 50px;
	font-size: 2.5rem;
	animation: shake 1s ease-in-out infinite;
	opacity: 1;
	transition: 0.3s ease opacity;
}

#hero #hint[hide] {
	opacity: 0;
}

@keyframes shake {
	from {transform: translateY(0);}
	50% {transform: translateY(30px);}
	to {transform: translateY(0);}
}

#projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 32px;
	gap: 16px;
}

.card {
	height: fit-content;
	background: var(--bg3);
	border: 5px solid var(--bg3);
	border-radius: 20px;
	overflow: hidden;
}

.card img {
	width: 100%;
}

.card .inner {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.card .inner p {
	text-align: justify;
}